@import url(https://fonts.googleapis.com/css?family=Lato);
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

*,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  background-image: url("../photos/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #cccccc;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  /* height: 155px; */
  height: 20%;
  float: left;
}

#paclogo {
  width: 90%;
  height: 100%;
  float: left;
}

#menu {
  width: 10%;
  height: 100%;
  float: left;
  display: flex;
  justify-content: center;
  text-align: center;
  background: #000000;
}

#content {
  width: 100%;
  height: 70%;
  display: block;
  position: relative;
  float: left;
  clear: left;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  /* padding: 3px; */
}
ul li {
  float: left;
  /* padding: 6px 0; */
}
ul li a {
  position: relative;
  display: block;
  padding: 4px 0;
  font-family: Lato, sans-serif;
  color: #ecf0f1;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
}
ul li a::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background: #3498db;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}

ul li a:hover {
  color: #95a5a6;
}

ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.page {
  display: none;
  width: 100%;
  height: 70vh;
  float: left;
  clear: left;
}

.welcomeBtn {
  position: absolute;
  top: 80%;
  background-color: transparent;
  color: white;
  border: 2px solid #919191;
  border-radius: 12px;
  font-size: 20px;
  padding: 12px 28px;
}


#newgameBtn {
  top: 0;
}

#randomSettings {
  top: 0;
}


#gameTime{
  margin: 2px;
}

#color-picker1{
  margin-left: 50px;
}

.welcomeBtn:hover {
  background-color: #919191;
  color: black;
  transition-duration: 0.4s;
}

#registerBtn {
  position: relative;
  left: 30%;
}

#loginBtn {
  position: relative;
  left: 50%;
}

#accordion .ui-accordion-header{
  background-color: black;
  color: white;
}

#accordion{
  width: 60%;
  margin: 0 20%;
}

#accordion input{
  width:6em;
}

#monster-slider {
  height: 15px;
  width: 10%;
}

#monster-custom-handle {
  text-align: center;
  padding: 1px;
}

#food-slider{
  margin: 2px;
}

#speed{
  margin: 2px;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

.registrationLogin {
  width: 30%;
  /* height: 100%; */
  margin: 25px auto;
}


form {
  padding: 20px;
  height: 100%;
  background-color: rgba(119, 119, 119, 0.5);
  color: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
form label,
form input,
form button {
  border: 0;
  margin-bottom: 3px;
  display: block;
  width: 100%;
}
form input {
  height: 25px;
  line-height: 25px;
  background: #fff;
  color: #000;
  padding: 0 6px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
form button {
  height: 30px;
  line-height: 30px;
  background: #e67e22;
  color: #fff;
  margin-top: 10px;
  cursor: pointer;
}
form .error {
  color: #ff0000;
}

form h2{
  text-align: center;
}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
}

.submitBtn{
  border-radius: 5px;
  width: 33%;
  margin: 0 33%;
  transition-duration: 0.4s;
  background-color: transparent;
  color: white;
  border: 2px solid #919191;
}

.submitBtn:hover{
  background-color: #ffffff; /* Green */
  color: black;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

footer {
  color: white;
  width: 100%;
  text-align: center;
  /* height: 50px; */
  height: 10%;
  background-color: rgb(85, 85, 85);
  bottom: 0;
  float: left;
  clear: left;
  margin-top: auto;
}

footer p{
  margin: 5px;
}


.footerName{
  display: inline-block;
  margin: 5px;
}

.footerName i{
  color: #0e76a8;

}

.footerName a:link{
  color: #0e76a8;
}

.footerName a:visited{
  color: rgb(103, 103, 255);
}


.modal {
  display: none;
  margin: auto;
  padding: 20px;
  border: 1px solid #888; 
  width: 80%;
}


.modal-content h3 {
  color: #0e76a8;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
